.Container {
  width: 100%;
  max-width: 1024px; 
  padding: 15px;
  top: 10px;
  margin: 0 auto;
}

.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-bottom: 15px;
}

.Header {
  font-weight: bolder;
  font-size: 200%;
  text-align: center;
  padding-top: 5px;
  background-color: lightsteelblue;
  width: 66.6666666667%;
  float: left;
}

.Text {
  font-size: medium;
  font-style: italic;
}

.Photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  width: 33.3333333333%;
  float: left;
}

.Info {
  text-align: left;
  height: max-content;
  border-spacing: 0 10px;
  padding-left: 10px;
}

.Info td {
  vertical-align: middle;
  padding: 10px;
  padding-right: 30px; 
  padding-left: 10px;
  border-top: 2px solid lightsteelblue;
  border-bottom: 2px solid lightsteelblue;
  border-right: 2px solid lightsteelblue; 
}

.Info td:first-child {
  border-left: 2px solid lightsteelblue;
  color: grey;
  font-weight: bold;
}

.Info td:nth-child(3) {
  color: grey;
  font-weight: bold;
}



